# Join Tables using a common identifier

In [1]:
import pandas as pd

In [2]:
dic = {'fruit': ['apple', 'banana', 'apple'], 'count': [1, 2, 3]}
data = pd.DataFrame(dic)
print(data)

    fruit  count
0   apple      1
1  banana      2
2   apple      3

In [3]:
index = data.index
condition = data["fruit"] == "apple"
apples_indices = index[condition]

In [4]:
print(apples_indices.to_list())

[0, 2]

In [5]:
user_usage = pd.read_csv('data/user_usage.csv')
print(user_usage.head())
print(f'Size of the table: {len(user_usage)}')

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792
Size of the table: 240

In [7]:
user_device = pd.read_csv('data/user_device.csv')
print(user_device.head())

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [8]:
android_devices = pd.read_csv('data/android_devices.csv')
print(android_devices.head())
print(f'Size of the table: {len(android_devices)}')

  Retail Branding Marketing Name    Device                      Model
0             NaN            NaN    AD681H  Smartfren Andromax AD681H
1             NaN            NaN     FJL21                      FJL21
2             NaN            NaN       T31              Panasonic T31
3             NaN            NaN  hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A   OC1020A                    OC1020A
Size of the table: 14546

In [9]:
user_merge = pd.merge(user_usage, user_device[['use_id', 'platform', 'device']], on='use_id')
print(user_merge.head())
print(f'Size of the table: {len(user_merge)}')

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id  \
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

  platform    device
0  android  GT-I9505
1  android  SM-G930F
2  android  SM-G930F
3  android     D2303
4  android  SM-G361F
Size of the table: 159

# Inner, Left and Right merge types

In [10]:
# By default we get an inner merge
print('user usage dimension: {}'.format(user_usage.shape))
print('user device dimension: {}'.format(user_device[['use_id', 'platform', 'device']].shape))
print('merge dimension: {}'.format(user_merge.shape))

user usage dimension: (240, 4)
user device dimension: (272, 3)
merge dimension: (159, 6)

In [11]:
user_usage['use_id'].isin(user_device['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

In [12]:
# Left merge: keep every row in the left dataframe, if missing info on the right dataframe --> Nan
# Right merge: keep every row in the right dataframe, if missing values in the left dataframe --> Nan
# Outer merge: keep every row of both dataframes with Nan everywhere else

In [13]:
# Get average outgoing_mins_per_month for users with android platform
subset = user_merge[(user_merge.platform=='android')]
print(subset.outgoing_mins_per_month.mean())

201.25853503184717

In [14]:
# Get average outgoing_mins_per_month for users with none android platform
subset = user_merge[(user_merge.platform!='android')]
print(subset.outgoing_mins_per_month.mean())

366.06